body {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
  background: #c7eef3d7;
}
.green {
  background: rgba(168, 197, 36, 0.6);
  padding: 10px;
  margin: 20px 0;
  box-shadow: 2px 2px 2px 1px #ccc;
}
.blue {
  background: rgba(36, 168, 197, 0.6);
  padding: 10px;
  margin: 20px 0;
  box-shadow: 2px 2px 2px 1px #ccc;
}
.purple {
  background: rgba(230, 86, 235, 0.6);
  padding: 10px;
  margin: 20px 0;
  box-shadow: 2px 2px 2px 1px #ccc;
}
legend {
  color: #444;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  background: white;
}
input[type="submit"] {
  width: 15%;
  color: #fff;
  background: #fe6921;
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
}
input[type="submit"]:hover {
  background: #e8ab2e;
}
